# Système
.DS_Store
Thumbs.db

# Environnement
.env

# Dépendances
node_modules/
vendor/

# Logs
*.log

# Fichiers uploadés
backend/uploads/*
!backend/uploads/menus/
backend/uploads/menus/*
!backend/uploads/menus/.gitkeep

# Clés API privées
backend/config/openrouteservice.php